.user-login-page {
    display: flex;
    height: 100vh;
    background-color: rgb(250, 250, 250);
}

.user-login-page .left-section {
    width: 55%;
    height: 100%;
    background-image: url('/icons/bg.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
    animation: slide-login-left-section 0.8s ease-in-out;
  }

@keyframes slide-login-left-section{
    from{
      width: 0;
    }
    to{
      width: 55%;
    }
}

  .user-login-page .right-section{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 250, 250);
  }

  .user-login-page .login-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    height: 550px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgb(168, 168, 168);
    padding: 50px;
    box-sizing: border-box;
    opacity: 0;
    animation: login-container-animation 0.8s ease-in-out 1s forwards;
    text-align: center;
  }

  @keyframes login-container-animation{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }

  .user-login-page .input-container{
    width: 80%;
    box-sizing: border-box;
    flex-direction: column;
  }

  .user-login-page .input-container > input{
    margin-top: 30px;
    width: 100%;
    height: 35px;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(211, 211, 211);
  }

  .user-login-page .input-container .show-pass-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 20px;
  }

  .user-login-page .input-container input[type="checkbox"]{
    cursor: pointer;
  }

  .user-login-page .login-btn{
    background-color: red;
    height: 38px;
    width: 80%;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 20px;
  }

  .user-login-page .login-btn:hover{
    background-color: rgb(255, 167, 167);
  }

  .user-login-page .login-container a{
    text-decoration: none;
    color: red;
  }

  .user-login-page .login-container a:hover{
    text-decoration: underline;
  }

  .user-login-page .login-container form > div:last-child{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }


  @media  screen and (max-width: 1040px) {
    .user-login-page .left-section {
        width: 45%;
      }
  }

  @media  screen and (max-width: 850px) {
    .user-login-page .left-section{
        display: none;
    }

    .user-login-page {
        background-image: url('/icons/bg.webp');
        background-position: center;
        background-size: cover;
    }

    .user-login-page .right-section{
        background-color: rgb(0, 0, 0, 0.10);
    }

    .user-login-page .login-container form{
      width: 100%;
    }

  }