.user-page{
    padding-top: 80px;
}

.user-page header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    align-items: center;
    padding: 10px;
    z-index: 3;
}

.user-page header img{
    width: 60px;
    height: 60px;
}

.user-page header > div{
    display: flex;
    align-items: center;
}

.user-page header > div > h3{
    color: red;
}

.user-page header > div > h3 span{
    color: #ffbd59;
}