.user-page{
    padding-top: 80px;
}

.user-page header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    align-items: center;
    padding: 10px;
    z-index: 3;
}

.user-page header img{
    width: 60px;
    height: 60px;
}

.user-page header > div{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-page header > div > h3{
    color: red;
}

.user-page header > div > h3 span{
    color: #ffbd59;
}

.user-page header button{
    background-color: #ff3131;
    color: white;
    border: none;
    padding: 10px 40px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 20px;
}

.user-page header button:hover{
    background-color: #ff9898;
}

.user-page header a{
    color: #ff3131;
    font-size: 18px;
    text-decoration: none;
}

.user-page header a:hover{
    text-decoration: underline;
    text-underline-offset: 3px;
}