.admin-form .container.first-form .inputs{
    display: grid;
    margin-bottom: 20px;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
}

.admin-form .container.first-form .inputs > div p{
    margin-top: 0;
}

.admin-form .departure,
.admin-form .arrival{
    width: 200px;
    max-width: 200px;
    height: 30px;
    border: 1px solid rgb(153, 153, 153);
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.admin-form .departure span,
.admin-form .arrival span{
    white-space: nowrap; 
    overflow: hidden;
}

.admin-form .departure .dropdown{
    z-index: 2;
}

.admin-form .arrival .dropdown{
    z-index: 1;
}

.admin-form .departure .dropdown,
.admin-form .arrival .dropdown{
    background-color: white;
    top: 32px;
    left: 0;
    max-height: 200px;
    position: absolute;
    overflow-y: auto;
    margin: 5px 0;
    padding: 3px;
    border: 1px solid rgb(141, 141, 141);
}

.admin-form .departure .dropdown > div,
.admin-form .arrival .dropdown > div{
    padding: 5px;
}

.admin-form .departure .dropdown > div:hover,
.admin-form .arrival .dropdown > div:hover{
    background-color: rgb(240, 240, 240);
}

.admin-form .container p{
    font-size: 15px;
    color: rgb(153, 153, 153);
}

.admin-form .next-btn{
    padding: 7px 40px;
    float: right;
}

.admin-form .next-btn:not(:disabled){
    background-color: #ff3131;
    color: white;
    cursor: pointer;
    border: none;
}

.admin-form .next-btn:not(:disabled):hover{
    background-color: #ffb5b5;
}

.admin-form .close{
    top: 30px;
    right: 40px;
    position: absolute;
    font-size: 25px;
    cursor: pointer;
}

.admin-form .container select {
    width: 180px;
    height: 30px;
    overflow-y: auto;
    max-width: 180px;
    cursor: pointer;
    outline: none;
}

.admin-form .container input[type="checkbox"]{
    margin-right: 30px;
    cursor: pointer;
}

.admin-form .classes-container{
    max-height: 300px;
    overflow-y: auto;
    padding: 0 5px;
}

/* Customizing the entire scrollbar */
.admin-form .classes-container::-webkit-scrollbar {
    width: 5px;  /* Width of the vertical scrollbar */
    height: 5px; /* Height of the horizontal scrollbar */
  }
  
  /* Customizing the scrollbar track (the part the thumb slides within) */
  .admin-form .classes-container::-webkit-scrollbar-track {
    background: #f1f1f1;  /* Light gray background */
    border-radius: 10px;
  }
  
  /* Customizing the scrollbar thumb (the draggable part) */
  .admin-form .classes-container::-webkit-scrollbar-thumb {
    background: #888;  /* Dark gray thumb */
    border-radius: 10px;
  }
  
  /* Customizing the thumb when it's hovered */
  .admin-form .classes-container::-webkit-scrollbar-thumb:hover {
    background: #555;  /* Darker gray when hovered */
  }
  
  /* Optional: Customizing the scrollbar corner */
  .admin-form .classes-container::-webkit-scrollbar-corner {
    background: #f1f1f1;
  }
  