.available-flights{
    width: 100%;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(235, 235, 235);
    padding-bottom: 30px;
}

.available-flights.admin{
    padding-top: 80px;
}

.available-flights > div:first-child{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.available-flights select{
    width: 180px;
    height: 30px;
    outline: none;
}

.available-flights .container{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
