.booking-page{
    min-height: calc(100vh - 130px);
    background-color: rgb(247, 247, 247);
    padding-top: 50px;
}

.booking-page.frontdesk{
    padding-top: 130px;
}

.booking-page > div:first-child{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    top: 80px;
    background-color: #ff3131;
    color: white;
    font-weight: 600;
    z-index: 1;
}

.booking-page > div:first-child p:first-child{
    margin-left: 20px;
}

.booking-page > div:first-child div{
    display: flex;
    align-items: center;
    margin: 0 30px;
}

.booking-page > div:first-child div img{
    height: 25px;
    margin: 0 10px;
}

.booking-page > form{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.booking-page > form .container{
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px rgb(199, 199, 199);
    border: 1px solid rgb(219, 219, 219);
    background-color: white;
}

.booking-page > form .container span{
    color: rgb(165, 165, 165);
}

.booking-page > form .container .select-container{
    margin: 30px 0;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 170px);
}

.booking-page > form .container .select-div{
    display: flex;
    flex-direction: column;
}

.booking-page > form .container .select-div select{
    margin: 5px 0;
    height: 30px;
    outline: none;
}

.booking-page > form .container .select-div p{
    margin: 10px 0;
    color: rgb(165, 165, 165);
}

.booking-page > form .container .input-container{
    color: rgb(165, 165, 165);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
    gap: 10px;
    width: 100%;
}

.booking-page > form .container .input-container input{
    outline: none;
    height: 20px;
    display: block;
    margin-top: 5px;
}

.booking-page .next-btn{
    display: block;
    padding: 7px 50px;
    margin: 30px auto 0 auto;
    font-size: 15px;
}

.booking-page .next-btn:not(:disabled){
    background-color: #ff3131;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

.booking-page .next-btn:not(:disabled):hover{
    background-color: #ff9f9f;
}

@media (max-width: 500px){
    .booking-page > div:first-child div{
        margin: 0 5px;
    }

    .booking-page > div:first-child{
        font-size: 12px;
    }

    .booking-page > div:first-child p:first-child{
        margin-left: 10px;
    }

    .booking-page > div:first-child div img{
        height: 20px;
    }
    

    .booking-page > form .container{
        width: 90%;
    }
    .booking-page > form .container .select-container{
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 768px) {
    .booking-page.frontdesk{
        padding-left: 200px;
    }
}