.admin-sidebar{
    padding-top: 80px;
    background-color: white;
    border-right: 2px solid rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
}

.admin-sidebar > ul {
    padding-left: 0;
    list-style: none;
}

.admin-sidebar > ul li{
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.admin-sidebar > ul a{
    text-decoration: none;
    color: #ff3131;
    font-weight: 600;
}

.admin-sidebar > ul li:hover{
    background-color: #ffeed5;
}

.admin-sidebar li > img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}