.admin-header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    border-bottom: 2px solid rgb(235, 235, 235);
    padding: 10px;
    z-index: 3;
}

.admin-header button{
    height: 30px;
    width: 40px;
    border: none;
    background-color: white;
    cursor: pointer;
    display: none;
}

.admin-header button img{
    width: 100%;
    height: 100%;
}

.admin-header .logo-container{
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #ff3131;
}

.admin-header span{
    color: #ffbd59;
}

.admin-header .logo-container > img{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .admin-header button{
        display: flex;
    }

}