.passengers-modal-container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(119, 119, 119, 0.8);
    z-index: 5;
    overflow-y: auto;
}

.passengers-modal-container .modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    width: 500px;
    font-size: 15px;
}

.passengers-modal-container .modal > div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
}

.passengers-modal-container .modal > div:first-child img{
    width: 70px;
}

.passengers-modal-container .modal > div:first-child h3{
    color: red;
}

.passengers-modal-container .modal > div:first-child span{
    color: #ffbd59;
}


.passengers-modal-container .table-container{
    width: 100%;
    height: 250px;
    overflow-y: auto;
}

.passengers-modal-container table{
    width: 100%;
    border-collapse: collapse;
}

.passengers-modal-container table th{
    text-align: center;
    padding: 10px;
}

.passengers-modal-container table td{
    padding: 10px;
    text-align: center;
}

.passengers-modal-container .table-container h3,
.passengers-modal-container .table-container p{
    text-align: center;
}

.passengers-modal-container .passengers-destination{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.passengers-modal-container .view-tickets{
    margin-top: 20px;
    padding: 7px 20px;
    cursor: pointer;
}

.passengers-modal-container .modal > button{
    background-color: #ff3131;
    color: white;
    border: none;
    float: right;
    margin-top: 30px;
    padding: 7px 40px;
    cursor: pointer;
}

.passengers-modal-container .modal > button:hover{
    background-color: #ffadad;
}

@media  screen and (max-width: 500px){
    .passengers-modal-container .modal{
        width: 90%;
        font-size: 12px;
    }

    .passengers-modal-container .table-container{
        height: 200px;
    }
}