.passenger-form{
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.passenger-form > .container{
    margin: 20px 20px 50px 20px;
}

.passenger-form > .container > div:first-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.passenger-form .payment-summary-btn{
    background-color: rgb(247, 247, 247);
    border: none;
    color: #ff3131;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    text-decoration: underline;
}

.passenger-form .passenger-details-container{
    display: flex;
    position: relative;
    box-shadow: 0 0 10px 5px rgb(209, 209, 209);
}

.passenger-form .side-bar button{
    width: 200px;
    height: 50px;
    border: none;
    font-size: 15px;
    background-color: white;
    display: block;
    position: relative;
    cursor: pointer;
    text-align: start;
    padding-left: 20px;
}

.passenger-form .side-bar .selected{
    color: #ff3131;
    font-weight: 600;
}

.passenger-form .side-bar .selected::after{
    content: "";
    position: absolute;
    width: 5px;
    top: 0;
    bottom: 0;
    right: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #ff3131;
}

.passenger-form .passenger-details{
    padding: 10px 30px 30px 30px;
    background-color: white;
    color: rgb(143, 143, 143);
}

.passenger-form .passenger-details > div:first-child{
    margin: 0;
    color: black;
}

.passenger-form .passenger-details > div:first-child div{
    display: flex;
    flex-wrap: wrap;
}

.passenger-form .passenger-details > div:first-child p{
    margin-right: 20px;
    color: black;
}

.passenger-form .passenger-details > div{
    margin: 35px 0;
}

.passenger-form .passenger-details p{
    font-size: 15px;
    color: rgb(180, 180, 180);
}

.passenger-form .passenger-details .name-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.passenger-form .passenger-details input[type="text"],
.passenger-form .passenger-details input[type="date"]{
    display: block;
    width: 230px;
    height: 25px;
    outline: none;
}

.passenger-form .passenger-details textarea{
    display: block;
    width: 50%;
    height: 50px;
    outline: none;
}

.passenger-form .checkbox-container{
    display: flex;
    margin-top: 10px;
}

.passenger-form .checkbox-container input{
    margin-right: 10px;
}

.passenger-form .checkbox-container.last{
    margin-top: 30px;
    justify-content: end;
}

.passenger-form .checkbox-container a{
    margin-left: 5px;
    color: #ff3131;
    font-weight: 600;
}

.passenger-form .book-btn{
    margin-top: 20px;
    padding: 10px 50px;
    font-size: 20px;
    float: right;
    border-radius: 15px;
}

.passenger-form .book-btn:not(:disabled){
    background-color: #ff3131;
    color: white;
    cursor: pointer;
    border: none;
}

.passenger-form .book-btn:not(:disabled):hover{
    background-color: #ff9c9c;
}

@media screen and (max-width: 850px) {
    .passenger-form{
        justify-content: start;
    }
}