.summary{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: rgb(150, 150, 150, 0.5);
    overflow-y: auto;
}

.summary .summary-container{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.summary .summary-container .header{
    background-color: #ff3131;
    color: white;
    flex: 1;
    padding: 5px 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.summary .summary-container .items-container{
    width: 400px;
}

.summary .summary-container .items-container .toggle-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.summary .summary-container .taxes-and-fees,
.summary .summary-container .fare-details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 0 20px;
}

.summary .summary-container .items-container button{
    background-color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.summary .summary-container .items-container button img{
    width: 15px;
    margin-left: 10px;
}

.summary .summary-container .pay-btn-container{
    padding: 20px;
}

.summary .summary-container .pay-btn-container button{
    width: 100%;
    height: 35px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px 0;
}

.summary .summary-container .pay-btn-container button:first-child{
    background-color: #ff3131;
    color: white;
    border: none;
}

.summary .summary-container .pay-btn-container button:first-child:hover{
    background-color: #ffafaf;
}

@media screen and (max-width: 500px){
    .summary .summary-container .items-container{
        width: 90vw;
    }
}