.admin-page{
    padding: 0 20px;
    padding-top: 70px;
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
    background-color: rgb(250, 250, 250);
}

.admin-page > h1{
    font-size: 30px;
}

.admin-page > input[type = 'search']{
    width: 300px;
    height: 30px;
    margin-bottom: 30px;
    outline: none;
}

.admin-page .table-container{
    width: 100%;
    height: 65%;
    overflow-y: auto;
    overflow-x: auto;
    background-color: white;
    border: 2px solid rgb(235, 235, 235);
}

.admin-page .table-container table{
    width: 100%;
    border-collapse: collapse;
}

.admin-page .table-container table th{
    padding: 10px;
    background-color: #ff3131;
    color: white;
    border: 1px solid white;
}

.admin-page .table-container table td{
    padding: 8px;
    background-color: white;
    border-bottom: 1px solid rgb(236, 236, 236);
    text-align: center;
}

.admin-page td > button{
    border: none;
    background-color: white;
    cursor: pointer;
}

.admin-page td > button img{
    width: 25px;
    height: 25px;
}

.admin-page .add-btn{
    margin-top: 20px;
    background-color: #ff3131;
    position: absolute;
    color: white;
    border: none;
    font-size: 16px;
    padding: 7px 15px;
    cursor: pointer;
}

.admin-page .add-btn:hover{
    background-color: #ffbaba;
}
