.change-password{
    border: 1px solid rgb(172, 172, 172);
    box-shadow: 0 0 15px 3px rgb(184, 184, 184);
    padding: 30px;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 280px;
}

.change-password > div{
    margin-bottom: 30px;
    position: relative;
}

.change-password input{
    width: 100%;
    height: 30px;
    border: 1px solid rgb(100, 100, 100);
    outline: none;
}

.change-password div > button{
    position: absolute;
    right: 2px;
    bottom: 2px;
    width: 40px;
    height: 30px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.change-password div > button img{
    width: 100%;
    height: 100%;
}

.change-password > button{
    background-color: #ff3131;
    color: white;
    width: 130px;
    height: 25px;
    float: right;
    border: none;
    cursor: pointer;
}

.change-password > button:hover{
    background-color: #ff9c9c;
}