.pop-ups{
    position: fixed;
    bottom: 20px;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    z-index: 1;
}

.pop-ups .pop-up{
    width: 250px;
    background-color: white;
    margin-top: 30px;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid grey;
    position: relative;
    cursor: pointer;
}

.pop-up div{
    display: flex;
    align-items: center;
}

.pop-ups .pop-up:hover{
    background-color: rgb(240, 240, 240);
}

.pop-up span{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    z-index: 2;
}

.pop-up p{
    line-height: 1.8;
}

.pop-ups .pop-up img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}