.faq-page {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    background-color: #f4f7fc;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .faq-page .faq-title-section {
    background-color: #ff3131;    
    color: white;
    padding: 30px;
    text-align: center;
    width: 70%;
  }
  
  .faq-page #faq-name {
    font-weight: 700;
    letter-spacing: 10px;
  }

  .faq-page #name {
    font-weight: 700;
  }
  
  .faq-page .faq-container {
    margin: 30px auto;
    width: 70%;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .faq-page section {
    margin-bottom: 25px;
  }

  .faq-page section:not(:first-child){
    margin-top: 50px;
  }
  
  .faq-page h2 {
    font-weight: 700;
    margin-bottom: 10px;
    color: #ff3131;   
  }
  
  .faq-page li {
    margin-bottom: 15px;
    font-size: 23px;

  }
  
  .faq-page p {
    font-size: 23px;
    line-height: 1.6;
    color: #555;
    margin: 10px 0 0;
  }
  
  .faq-page strong {
    font-weight: 600;
    color: #333;
  }

  @media screen and (max-width: 425px) {
    .faq-page .faq-title-section {
        width: 90%;
      }

      .faq-page .faq-container {
        width: 90%;
      }
    
  }