.home-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-page .home{
    background-image: url('/icons/bg.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.home-page .animate{
    animation: container-animation 0.5s ease-in forwards; 
}

@keyframes container-animation{
    from{
        opacity: 0;
        transform: translateX(-200px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@media  screen and (max-width: 500px) {
    .home-page header ul{
        display: none;
    }

    .home-page header > button{
        display: block;
    }

    .home-page header .dropdown.show{
        display: flex;
    }
}
