.home-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-page header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    align-items: center;
    padding: 10px;
    z-index: 1;
}

.home-page header img{
    width: 60px;
    height: 60px;
}

.home-page header > div{
    display: flex;
    align-items: center;
}

.home-page header > div > h3{
    color: red;
}

.home-page header > div > h3 span{
    color: #ffbd59;
}

.home-page header ul{
    list-style-type: none;
    display: flex;
}

.home-page header li{
    color:  red;
    margin: 0 20px;
    font-size: 18px;
    cursor: pointer;
}

.home-page header li:hover{
    text-decoration: underline;
}

.home-page .home{
    background-image: url('/icons/bg.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

@media  screen and (max-width: 500px) {
    .home-page header ul{
        display: none;
    }
}
