@tailwind utilities;

@media  screen and  (max-width: 900px ){
    .airline-details{
        flex-direction: column;
    }

    .airline-details > div{
        max-width: 100%;
    }

    .airline-details > .image{
        width: 100%;
    }
}