.seat-selection-container{
    position: fixed;
    background-color: rgb(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    overflow-y: auto;
    display: flex;
    justify-content: center;
}

.seat-selection{
    position: absolute;
    background-color: white;
    top: 0;
    text-align: center;
    border-radius: 10px;
}

.seat-selection-container .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    margin-left: -20px;
}

.seat-selection-container .logo h3{
    color: #ff3131;
}

.seat-selection-container .logo h3 > span{
    color: #ffbd59;
}

.seat-selection-container .logo img{
    height: 65px;
}

