.seats{
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
}

.seats-rows-container{
    display: grid;
    gap: 10px;
}

.seats-rows-container .letter{
    text-align: center;
}

.seats .seat {
    border: none;
    display: flex;
    justify-content: center;
    position: relative;
}

.seats .seat:not(:disabled){
    cursor: pointer;
}

.seats .seat img{
    width: 30px;
    height: 30px;
    margin: 0;
}

.seats .seat .check{
    top: -7px;
    right: -8px;
    width: 17px;
    height: 17px;
    position: absolute;
}

.seats .seat .new{
    top: -7px;
    right: -8px;
    width: 25px;
    height: 25px;
    position: absolute;
}


.seats .seat:not(:disabled):hover{
    background-color: rgb(150, 150, 150);
}

.seats .legends{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.seats .legends > div{
    display: flex;
    align-items: center;
    font-weight: 600;
}

.seats .legends > div:first-child{
    margin-right: 20px;
}

.seats .legends span{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.seats .legends #economy{
    background-color: #00bd19;
}

.seats .legends #business{
    background-color: #1381ff;
}

.seats .legends #first{
    background-color: #ff3131;
}

.seats .close-btn{
    background-color: #ff3131;
    margin: 20px 0;
}


.seats .passenger-modal{
    position: fixed;
    top: 50vh;
    transform: translateY(-50%);
    z-index: 3;
    padding: 30px;
    border: 1px solid grey;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seats .passenger-modal img{
    width: 60px;
    height: 60px;
}

.seats .passenger-modal button{
    background-color: #ff3131;
    color: white;
    border: none;
    padding: 8px 70px;
    cursor: pointer;
}

.seats .passenger-modal button:hover{
    background-color: #ff9898;
}