.flights-container{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    margin: 30px 0;
    border-radius: 20px;
}

.flights-container > div:first-child{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin-right: 50px;
    width: 100%;
}

.flight{
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
}

.flight .mid-div{
    display: flex;
    width: 100%;
    align-items: center;
}

.flight .hours-difference{
    position: absolute;
    top: 50%;
    left: 50%;
}

.flight .airline{
    height: 40px;
    margin-right: 30px;
    padding: 10px;
}

.flight div{
    text-align: center;
    font-size: 14px;
}

.flight hr{
    background-color: rgb(196, 196, 196);
    height: 2px;
    width: 100%;
    margin: 0 20px;
    border: none;
}

.flight .plane-icon{
    height: 30px;
}

.flights-container > div:last-child{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flights-container > div:last-child > button{
    background-color: #ff3131;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 40px;
    cursor: pointer;
}

.flights-container > div:last-child > button:hover{
    background-color: #ff9393;
}

.no-flights{
    width: 100%;
    height: calc(100vh - 220px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-flights img{
    height: 200px;
}

.no-flights p{
    color: #808080;
}

.no-flights > div{
    text-align: center;
}

@media screen and (max-width: 650px){
    .flights-container{
        flex-direction: column;
        justify-content: center;
    }

    .flight{
        flex-direction: column;
    }

    .flight .airline{
        margin: 0;
    }

    
    .flight .mid-div{
        margin: 50px 0;
    }

    .flight .hours-difference{
        left: 50%;
        top: 60%;
        transform: translateX(-50%);
    }

    .flights-container > div:first-child{
        margin: 0;
    }
}