.search-results{
    width: 100%;
    min-height: calc(100vh - 80px);
    display: flex;
    background-color: rgb(235, 235, 235);
    justify-content: center;
}

.search-results .results-parent-container{
    width: 80%;
}

.search-results .search-details-container button{
    background-color: white;
    color: #ff3131;
    border: 1px solid #ff3131;
    cursor: pointer;
    padding: 0 20px;
    border-radius: 8px;
}

.search-results .search-details-container button:hover{
    background-color: #ff3131;
    color: white;
    border: none;
}

.search-results .search-details-container{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 10px;
    box-sizing: border-box;
    border-radius: 15px;
    margin: 20px 0;
}

.search-results .search-details{
    display: flex;
    align-items: center;
    font-size: 14px;
}

.search-results .search-details .line{
    width: 1px;
    height: 20px;
    margin: 0 15px;
    background-color: rgb(75, 75, 75);
}

.search-results .search-details img{
    height: 30px;
    margin: 0 15px;
}

.search-results .search-details-container button{
    height: 30px;
}

.search-results .forms-container{
    width: 100%;
    padding-bottom: 20px;
    padding: 20px 10px;
    background-color: white;
    border-radius: 20px;
    box-sizing: border-box;
}

.search-results .results-container{
    width: 100%;
}

.search-results .flights-container{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    margin: 30px 0;
    border-radius: 20px;
}

.search-results .flights-container > div:first-child{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin-right: 50px;
    width: 100%;
}

.search-results .flight{
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
}

.search-results .flight .mid-div{
    display: flex;
    width: 100%;
    align-items: center;
}

.search-results .flight .hours-difference{
    position: absolute;
    top: 55%;
    left: 50%;
}

.search-results .flight .airline{
    height: 40px;
    margin-right: 30px;
    padding: 10px;
}

.search-results .flight div{
    text-align: center;
    font-size: 14px;
}

.search-results .flight hr{
    background-color: rgb(196, 196, 196);
    height: 2px;
    width: 100%;
    margin: 0 20px;
    border: none;
}

.search-results .flight .plane-icon{
    height: 30px;
}

.search-results .flights-container > div:last-child{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-results .flights-container > div:last-child > button{
    background-color: #ff3131;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 40px;
    cursor: pointer;
}

.search-results .flights-container > div:last-child > button:hover{
    background-color: #ff9393;
}

.search-results .no-flights{
    width: 100%;
    height: calc(100vh - 220px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-results .no-flights img{
    height: 200px;
}

.search-results .no-flights p{
    color: #808080;
}

.search-results .no-flights > div{
    text-align: center;
}

@media screen and (max-width: 800px) {
    .search-results .results-parent-container{
        width: 95%;
    }

    .search-results .search-details-container{
        justify-content: center;
    }
}

@media screen and (max-width: 650px){

    .search-results .flights-container{
        flex-direction: column;
        justify-content: center;
    }

    .search-results .flight{
        flex-direction: column;
    }

    .search-results .flight .airline{
        margin: 0;
    }

    
    .search-results .flight .mid-div{
        margin: 50px 0;
    }

    .search-results .flight .hours-difference{
        left: 50%;
        top: 60%;
        transform: translateX(-50%);
    }

    .search-results .flights-container > div:first-child{
        margin: 0;
    }
}