.search-results{
    width: 100%;
    min-height: calc(100vh - 80px);
    display: flex;
    background-color: rgb(235, 235, 235);
    justify-content: center;
}

.search-results .results-parent-container{
    width: 90%;
}

.search-results .search-details-container button{
    background-color: white;
    color: #ff3131;
    border: 1px solid #ff3131;
    cursor: pointer;
    padding: 0 20px;
    border-radius: 8px;
}

.search-results .search-details-container button:hover{
    background-color: #ff3131;
    color: white;
    border: none;
}

.search-results .search-details-container{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 10px;
    box-sizing: border-box;
    border-radius: 15px;
    margin: 20px 0;
}

.search-results .search-details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 14px;
}

.search-results .search-details .line{
    width: 1px;
    height: 20px;
    margin: 0 15px;
    background-color: red;
    background-color: rgb(75, 75, 75);
}

.search-results .search-details img{
    height: 30px;
    margin: 0 15px;
}

.search-results .search-details-container button{
    height: 30px;
}

.search-results .forms-container{
    width: 100%;
    padding-bottom: 20px;
    padding: 20px 10px;
    background-color: white;
    border-radius: 20px;
    box-sizing: border-box;
}

.search-results .results-container{
    width: 100%;
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: start;
    gap: 30px;
}

@media screen and (max-width: 1000px) {
    .search-results .results-container{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 800px) {
    .search-results .results-parent-container{
        width: 95%;
    }

    .search-results .search-details-container{
        justify-content: center;
    }

    .search-results .search-details-container button{
        margin-top: 20px;
    }
}
