.user-home{
    width: 100%;
}

.user-home .city-container{
    position: relative;
    z-index: 2;
}

.user-home .city-container h1{
    font-size: 60px;
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.user-home .city-container .city-buttons{
    position: absolute;
    top: 220px;
    left: 50%;
    transform: translateX(-50%);
}

.user-home .city-buttons button{
    border-radius: 50%;
    cursor: pointer;
    width: 13px;
    height: 13px;
    border: none;
    margin: 5px;
}

.user-home .city{
    top: 0;
    width: 100%;
    height: 350px;
    opacity: 0;
    position: absolute;
    animation: city-image-animation 0.8s ease-in-out forwards;
}

@keyframes city-image-animation{
    from{
        opacity: 0;
        transform: translateX(-400px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.user-home .search-form-container{
    padding: 30px;
    width: 50%;
    margin: auto;
    margin-bottom: 200px;
    transform: translateY(270px);
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
    box-shadow: 0 0 15px 5px rgb(160, 160, 160);
}

.user-home .search-form-container .select-container{
    width: 100%;
}

.select-container select{
    height: 25px;
}

.user-home .animate{
    animation: container-animation 0.5s ease-in forwards; 
}

@keyframes container-animation{
    from{
        opacity: 0;
        transform: translateX(-200px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (max-width: 900px) {
    .user-home .search-form-container{
        width: 80%;
    }
}

@media  screen and (max-width: 510px){
    .user-home .city-container h1{
        font-size: 40px;
    }

    .user-home .buttons-container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .user-home .buttons-container .add-flight-btn{
        margin: 0;
    }
}

