.user-bookings{
    width: 100%;
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    background-color: rgb(240, 240, 240);
    padding-bottom: 30px;
}

.user-bookings .container{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-bookings .container > div{
    width: 100%;
}

.user-bookings select{
    width: 250px;
    height: 30px;
    outline: none;
}

.user-bookings .flight{
    background-color: white;
    margin: 30px 0;
    border-radius: 20px;
    padding: 15px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.user-bookings .flight img{
    height: 50px;
}

.user-bookings .flight .destination{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 60%;
    align-items: center;
    text-align: center;
    font-size: 15px;
}

.user-bookings .flight .mid-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-bookings .flight .destination hr{
    width: 50px;
    margin: 0 20px;
}

.user-bookings .flight .plane-icon{
    margin: 30px 5px 0 5px;
}

.user-bookings .flight .plane-icon img{
    height: 30px;
}

.user-bookings .flight button{
    border: none;
    background-color: white;
    cursor: pointer;
    margin: 20px 10px 0 10px;
}

.user-bookings .flight button img{
    height: 30px;
    width: 30px;
}

.user-bookings .no-flights{
    width: 100%;
    height: calc(100vh - 220px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-bookings .no-flights img{
    height: 200px;
}

.user-bookings .no-flights p{
    color: #808080;
}

.user-bookings .no-flights > div{
    text-align: center;
}

.user-bookings .book-date{
    font-size: 14px;
    position: absolute;
    bottom: 2px;
    right: 10px;
    color: rgb(145, 145, 145);
}

.user-bookings .Cancelled{
    background-color: rgb(255, 221, 221);
    color: red;
    padding: 2px;
    text-align: center;
}

.user-bookings .Booked{
    background-color: rgb(231, 231, 255);
    color: rgb(74, 74, 255);
    padding: 2px;
    text-align: center;
}

.user-bookings .Completed{
    background-color: rgb(231, 255, 231);
    color: rgb(42, 199, 42);
    padding: 2px;
    text-align: center;
}

@media  screen and (max-width: 1150px){
    .user-bookings .container{
        width: 90%;
    }

}

@media  screen and (max-width: 850px) {
    .user-bookings .flight{
        padding: 35px 5px;
        flex-direction: column;
    }

    .user-bookings .flight .destination{
        width: 100%;
        font-size: 13px;
    }

    .user-bookings .book-date{
        position: static;
    }

}

@media  screen and (max-width: 500px){
    .user-bookings hr{
        display: none;
    }
}
